In [1]:
#DISCUSS STRING SLCING AND PROVIDE EXAMPLES.


#STRINNG SLICING IS A FEATURE IN PYTHON WICH ALLOWS US TO EXTRATC A PART FROM THE STRINGS WITH THE HELP OR RANGE OF THE ELEMETS IN INDEX. BY START AND END


str="hello good morning"
str[6:10]

'good'

In [2]:
str[0:6]

'hello '

In [3]:
#reverse string
str[::-1]

'gninrom doog olleh'

In [4]:
#explain the key features of list in pyhton.

#list can stored any type of data like strings int and the things inside the list is generaly called as an element.



#list are muttaable  
lis=[1,2,3,4,5]
lis[0]

1

In [5]:
#to change the element in list which is i index num 2 as 3 now it will change this to 7 and this is called muttable.
lis[2]=7

In [6]:
lis

[1, 2, 7, 4, 5]

In [7]:
lis=["pw"]
lis1=["skills"]

In [8]:
lis+lis1

['pw', 'skills']

In [9]:
# Describe how to access,moddify and delete elements in a list with examples.

#to access the elements.
#acces ravi in list
lis=["ajay","ravi","rohit"]
lis[1]

'ravi'

In [10]:
#moddify the elements.
#modify the element ravi to anant.
lis[1]=("anant")

In [11]:
lis

['ajay', 'anant', 'rohit']

In [12]:
#delet the elements
#here it will delet the element num 4 which is 55
l=[1,2,3,4,55,6]

In [13]:
del l[4]

In [14]:
l

[1, 2, 3, 4, 6]

In [15]:
#Compare and contrast tuples and lists with examples.
#list are muttable and tupples are immutable.
#list are always separeted with commas with in square bracket.
#tuples are always separeted with commas with in paranthesis.



#list
lis=[12,54,51,21,54,]
type(lis)

list

In [16]:
#tuple
hi=(1,21,21,2121,12)

In [17]:
type(hi)

tuple

In [18]:
#the third element which is 2121 now it will change to 300. 
lis[3]=300

In [19]:
lis

[12, 54, 51, 300, 54]

In [20]:
# as we know that tupples are immutale so we cannot change their elements after creation but we can access the elements.
#access elements
hi[2]

21

In [21]:
#modify tuples>> it will give you error
hi[2]=25

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Describe the key features of sets and provide examples of their set.

#sets are muttable.
#sets have unique elements always set doest not allow duplicates.
#Unlike lists or tuples, sets do not support indexing, slicing, or other sequence-like behavior.
s={1,2,3,4}
s

In [22]:
s(2)#set object is not callable.

NameError: name 's' is not defined

In [23]:
#adding and removing elements from the sets.
#adding
s1={1,2,3,4,5}
s1.add(6)
s1

{1, 2, 3, 4, 5, 6}

In [24]:
#removing
s1.remove(3)
s1

{1, 2, 4, 5, 6}

In [25]:
s1.add(2)#here it is not adding 2 because sets does not allows duplicates.
s1

{1, 2, 4, 5, 6}

In [26]:
s2={1,2,3,4,4,5,5,6}
s2

{1, 2, 3, 4, 5, 6}

In [27]:
# Discuss the use cases of tuples and sets in Python programming.
#tuples
#if you want the data in your collection to be read-only, never to change, and always remain the same.
# Tuples are ordered collections of elements
#tuples are immutable they can't be changed once created.
#tuples allow duplicates.
#in tuples you can access the elements by indexing




#sets
#sets can store collection of data in a single varriable.
#sets are  unordered collection of elements
#sets are muttable they can be changed after creations.
#sets doesot allow duplicates. it allways contains the unique elements.
#set not allows indexing.

In [28]:
#Describe how to add,modify and delete items in a dictionary with examples
prod={"jeans":2500, "tshirts":25,"shirts":1299}

In [29]:
#add
prod["shoes"]=4999
prod

{'jeans': 2500, 'tshirts': 25, 'shirts': 1299, 'shoes': 4999}

In [30]:
#modify
prod["jeans"]=3999
prod

{'jeans': 3999, 'tshirts': 25, 'shirts': 1299, 'shoes': 4999}

In [31]:
#delete 
del prod["tshirts"]

In [32]:
prod

{'jeans': 3999, 'shirts': 1299, 'shoes': 4999}

In [33]:
#Discuss the importance of dictionary keys being immutable and provide example.

#Hash Consistency: If a key were mutable, its value could change after it's been added to the dictionary.
# This would result in a change in the hash value, which would invalidate its position in the hash table.
#Efficiency: Immutable keys are surely gurantee that hash value of a key allways be the same for life time.
#Immutability helps maintain data integrity by preventing accidental modifications to keys.
details={"name":"anant","age":25,"city":"siswa baar"}
details

{'name': 'anant', 'age': 25, 'city': 'siswa baar'}

In [34]:
#name age and city these all are strings. which is immutable in python if any one of them is muttable and their value is changed after adding to the dictionaries.
#the dictionary's internal structure would be shows an  unpredictable results.